@import 'avalanchesass_component_table/style_guide';

/*---
title:   Mixin
name:    component_table_mixin
section: component_table
order:   2
---

```css
// Table.
c-table([$-column-padding: map-get($spacing, xs) map-get($spacing, s)[, $-column-border: 1px solid map-get($cs-grey, a)]])

// Table column.
c-table-column([$-padding: map-get($spacing, xs) map-get($spacing, s)[, $-border: 1px solid map-get($cs-grey, a)]])

// Numeric table column.
c-table-column-numeric()
```
*/
@mixin c-table-column($-padding: map-get($spacing, xs) map-get($spacing, s), $-border: 1px solid map-get($cs-grey, a)) {
  padding: $-padding;
  vertical-align: top;
  @if $-border {
    border-bottom: $-border;
  }
}

@mixin c-table-column-numeric() {
  text-align: right;
}

@mixin c-table($-column-padding: map-get($spacing, xs) map-get($spacing, s), $-column-border: 1px solid map-get($cs-grey, a)) {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  th,
  td {
    @include c-table-column($-column-padding, $-column-border);
  }
}

@mixin c-table-zebra-striped($-color: mix(map-get($cs, a), #fff, 2%)) {
  > :nth-child(odd) {
    background-color: $-color;
  }
}
