@import 'avalanchesass_component_table/style_guide';

$c-table-namespace: '#{map-get($namespace, component)}table' !default;

$c-table-column-padding: map-get($spacing, xs) map-get($spacing, xs) !default;
$c-table-column-border: 1px solid map-get($cs-grey, a) !default;
/*---
title:   Variable
name:    component_table_variable
section: component_table
order:   3
---

```css
$c-table-namespace: '#{$c-table-namespace}';
$c-table-column-padding: #{$c-table-column-padding};
$c-table-column-border: #{$c-table-column-border};
```
*/
